trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  # Cache Node modules
  - task: Cache@2
    inputs:
      key: 'npm | "$(Agent.OS)" | package-lock.json'
      restoreKeys: |
        npm | "$(Agent.OS)"
      path: 'node_modules'

  # Install Node
  - task: NodeTool@0
    inputs:
      versionSpec: '20.x'
    displayName: 'Install Node.js'

  # Clean Cypress cache
  - script: rm -rf ~/.cache/Cypress
    displayName: 'Clean Cypress cache'

  # Install deps + Cypress
  - script: |
      npm ci
      npx cypress install --force
    displayName: 'Install Cypress & binary'

  # Run Cypress WITH JUNIT (Dashboard Azure)
  - script: |
      echo "Running Cypress with JUnit reporting"
      npx cypress run --browser chrome --reporter junit --reporter-options "mochaFile=results/test-[hash].xml"
    displayName: 'Run Cypress Tests (JUnit for Azure Dashboard)'

  # Publish JUNIT XML to Azure (required for Dashboard)
  - task: PublishTestResults@2
    inputs:
      testResultsFiles: 'results/*.xml'
      testRunTitle: 'Cypress Tests'
      mergeTestResults: true
    condition: succeededOrFailed()
    displayName: 'Publish Test Results (JUnit XML)'

  # Generate Mochawesome Report (optional)
  #  - script: |
     #   node generate-report.js
    #    node write-results.js
    #  displayName: 'Generate Mochawesome Report'

  # Publish Mochawesome HTML Report
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Mochawesome HTML'
    inputs:
      PathtoPublish: 'mochawesome-report'
      ArtifactName: 'mochawesome-report'
      publishLocation: 'Container'
    continueOnError: true

  # Publish videos
  - task: PublishBuildArtifacts@1
    displayName: 'Publish videos'
    inputs:
      PathtoPublish: 'cypress/videos'
      ArtifactName: 'videos'
      publishLocation: 'Container'
    continueOnError: true

  # Publish screenshots
  - task: PublishBuildArtifacts@1
    displayName: 'Publish screenshots'
    inputs:
      PathtoPublish: 'cypress/screenshots'
      ArtifactName: 'screenshots'
      publishLocation: 'Container'
    continueOnError: true
