trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  # Cache Node modules (optional)
  - task: Cache@2
    inputs:
      key: 'npm | "$(Agent.OS)" | package-lock.json'
      restoreKeys: |
        npm | "$(Agent.OS)"
      path: 'node_modules'

  # Install Node
  - task: NodeTool@0
    inputs:
      versionSpec: '20.x'
    displayName: 'Install Node.js'

  # Clean old Cypress cache (important for Azure Pipelines)
  - script: rm -rf ~/.cache/Cypress
    displayName: 'Clean Cypress cache'

  # Install dependencies + Cypress binary
  - script: |
      npm ci
      npx cypress install --force
    displayName: 'Install Cypress & download binary'

  # Run Cypress tests
  - script: |
      echo "Running tests on browser: chrome"
      npx cypress run --browser chrome
    displayName: 'Run Cypress Tests (Chrome)'

  # Generate Mochawesome Report
  - script: |
      node generate-report.js
      node write-results.js
    displayName: 'Generate Mochawesome Report'

  # Publish mochawesome
  - task: PublishBuildArtifacts@1
    displayName: 'Publish mochawesome'
    inputs:
      PathtoPublish: 'cypress/reports/mochawesome'
      ArtifactName: 'mochawesome'
      publishLocation: 'Container'
    continueOnError: true

  # Publish videos
  - task: PublishBuildArtifacts@1
    displayName: 'Publish videos'
    inputs:
      PathtoPublish: 'cypress/videos'
      ArtifactName: 'videos'
      publishLocation: 'Container'
    continueOnError: true

  # Publish screenshots
  - task: PublishBuildArtifacts@1
    displayName: 'Publish screenshots'
    inputs:
      PathtoPublish: 'cypress/screenshots'
      ArtifactName: 'screenshots'
      publishLocation: 'Container'
    continueOnError: true

  # Publish HTML report
  - task: PublishBuildArtifacts@1
    displayName: 'Publish HTML report'
    inputs:
      PathtoPublish: 'cypress/reports/mochawesome/html'
      ArtifactName: 'html-report'
      publishLocation: 'Container'
    continueOnError: true
